<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>

<div id="body">

    <div class="card-container">

        <% products.forEach(function(product) { %>

                <div class="card">
                    <img src= <%= product.thumbnail %> alt="Avatar" style="width:100%">
                    <div class="card-item">
                    <h4 style="color:white;"><b> <%= product.title %> </b></h4>
                    <p style="color:white;"> <span class="currency"> $ </span> <%= product.price %> </p>
                  </div>
                </div>
           <% }); %>

    </div>

</div>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
